 @font-face {
   font-family: "PT Sans";
   src: url("Fonts/PT_Sans/PTSans-Regular.woff2") format("woff2"),
     url("Fonts/PT_Sans/PTSans-Regular.woff") format("woff");
   font-weight: 400;
   font-style: normal;
 }

 @font-face {
   font-family: "PT Sans";
   src: url("Fonts/PT_Sans/PTSans-Bold.woff2") format("woff2"),
     url("Fonts/PT_Sans/PTSans-Bold.woff") format("woff");
   font-weight: 700;
   font-style: normal;
 }


 /* variables at rest*/
 :root {
   --basic-black: #000000;
   --dark-gray: #333333;
   --white: #FFFFFF;
   --light-blue: #81B3D2;
   --brown: #766357;
   --beige: #F2F2F2;
   --logo: #231F20;
   --other-reasons: #EEEEEE;



   /* variables hover*/

   --hover-brown: #604E43;
   --hover-blue: #669EC0;

   /* variables by click */

   --click-brown: #503E33;
   --click-blue: #5496BD;
   --click-logo: #BDBBBC;

 }

 body {
   min-width: 960px;
   margin: 0;
   padding: 0;
   font-family: "PT Sans", Arial, sans-serif;
   font-size: 14px;
   line-height: 21px;
   font-weight: 400;
   color: var(--basic-black);
   text-transform: uppercase;
   background-color: var(--beige);
   min-height: 100%;
   display: grid;
   grid-template-rows: min-content 1fr min-content;
   align-content: start;

 }

 ul,
 li,
 p,
 span,
 h2,
 h3 {
   margin: 0;
   padding: 0;
 }



 a {
   text-decoration: none;
 }

 h1 {
   display: none;
   /* visibility: hidden; */
 }

 li {
   list-style: none;
 }

 .visually-hidden {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   border: 0;
   padding: 0;
   white-space: nowrap;
   clip-path: inset(100%);
   clip: rect(0 0 0 0);
   overflow: hidden;
 }

 .container {
   width: 1200px;
   margin: 0 auto;
 }

 /*++++++++++++++++++++++++ Header +++++++++++++++++++++++++++++++++++++++*/




 /* +++++++++++++++++++++++ main+++++++++++++++++++++++++++++++++++++++ */
 .back-picture {
   display: grid;
 }

 .big-photo {
   background: url(../image/backgroundPhoto.jpg) no-repeat;
 }

 .welcome {
   text-align: center;
   margin-top: 66px;
 }

 .decoration {
   vertical-align: bottom;
 }

 .texty-text {
   display: grid;
   background: var(--white);
   text-align: center;
   padding-bottom: 51px;
   padding-top: 41.5px;
 }

 .bold {
   font-weight: 700;
   line-height: 26px;
   font-size: 21px;
   
 }

 .Sedonabetter {
   margin-top: 45px;
   font-family: "PT Sans";
 }

 .photo-reason {
   display: grid;
   grid-template-columns: 1fr 2fr;
 }

 .true-city {
   background-color: var(--light-blue);
   color: var(--white);
   text-align: center;
 }

 img{
  display: block;
 }

 .number {
   margin-top: 22px;
 }

 .common-text {
   padding: 0 30px 54px 25px;
   margin-top: 23px;
 }

 .service {
   display: grid;
   padding-bottom: 82px;
   background-color: var(--white);
   padding-top: 160px;
 }

 .service-list {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   text-align: center;
 }

 .item {
  padding: 0 10px 0 10px;
 }

 .service-item_text {
   text-align: center;
   margin-top: 25px;
 }

 .photo-reason2 {
   display: grid;
   grid-template-columns: 2fr 1fr;
 }

 .bridge {
   background-color: var(--light-blue);
   color: var(--white);
   text-align: center;
 }

 .bridge-photo {
  display: block;
 }

 .heading {
   padding-top: 50px;
   text-align: center;
 }

 .other-reasons {
   display: grid;
   background-color: var(--other-reasons);
   padding-top: 47px;
   padding-bottom: 60px;
 }

 .reasons {
   display: grid;
   text-align: center;
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: 1fr;
 }

 .item {
  padding: 0 35px 0 35px;
 }

 .reasons-item_text {
   margin-top: 23px;
 }

 .map {
   display: grid;
 }

 .main-footer {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   background-color: var(--white);
   text-align: center;
 }

 .contact {
   grid-column: 1/2;
 }

 .social {
   grid-column: 2/3;
 }

 .copyright {
   grid-column: 3/4;
 }







 /* ++++++++++++++++++++++++++++++++++++CATALOG +++++++++++++++++++++++++++++++=++*/



 /* .catalog .container {
      background-color: var(--white);
    } */

 /* .main-catalog h2 {
      display: none;
    }

    .choosing {
      background-image: url(./image/backgroundBLUR.png);
      display: grid;
    }
    /* .1 {
      display:inline;
    } */
 /* .infrostructure {
      display:inline; 
      
   
    
    }*/

 .type-house {
   display: inline;

 }

 .price {
   display: inline;

 }

 .list-result {
   display: grid;
 }

 /* 
    .result{
      display: grid;
      grid-template-columns: 73px 135px 792px 127px 73px;

    }

    span, .result p {
      padding: 0;
    } */